@import url(./global.css);
@import url(./header.css);
@import url(./sidebar.css);
@import url(./body.css);
@import url(./footer.css);
@import url(./form.css);
@import url(./alert.css);

.containerItem__status--new {
    color: var(--new) ;
}

.containerItem__status--doing {
    color: var(--doing);
}

.containerItem__status--done {
    color: var(--primary);
}
    